

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:80vh;
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTcxMDUxNDQ5NA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600');
    background-size:cover;
}

.info{
    transition: .35s;
}

.infos:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
}


#mainTitle {
    align-items:center;
    justify-content: center;
    padding-left: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}

#container {
    background-color: #FFFFFF66;
    border-radius: 20px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-right: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

#search {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 4px 12px;
}

#search input {
    border: none;
    background-color: transparent;
    font-size: 18px;
    width: 100%;
    outline: none;
}

#search button {
    background-color: transparent;
    cursor: pointer;
    border: none;
}

#weather {
    margin-top: 20px;
    display: none;
}

#weather.show {
    display:block;
}

#weather #title {
    text-align: center;
    margin-bottom: 5px;
    font-weight:600;
    color: white;
}

#temp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background: linear-gradient(90deg, rgb(136, 180, 235), rgb(24, 88, 151));
    color: white;
    border-radius: 20px;
    padding: 20px;
}

#tempImage {
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
}

#tempValue {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
}

#tempDescription {
    font-weight: 500;
    text-transform: capitalize;
}

.infos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.infos .info {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    background-color: white;
    gap: 10px;
}

.infos .info h2 {
    font-size: 12px;
    width: 20%;
}

#tempMaxIcon {
    color: rgb(159, 19, 19);
}

#tempMinIcon {
    color: rgb(57, 139, 232);
}

#humidityIcon {
    color: rgb(95, 162, 239);
}

#windIcon {
    color: rgb(130, 130, 130);
}

#errorAlert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#errorAlert img {
    width: 200px;
    margin-top: 10px;
}